.button{
    font-size: 2.4rem;
    margin-bottom: 5rem;
    padding: 2rem;
    font-weight: 800;
    cursor: pointer;
    outline: none;
    border:none; 
    background-color: transparent;
  
    position:relative;
    z-index: 1;
    
    &:active{
            transform: scale(.98);
        }
    &:active::before{
    
            transform: scale(.98);
            
        }
    
    
    
   /*Frame me button*/
    &--frame-me{
  
        perspective: 20rem;
        &::before{
            @include pseudo-element;/*Makes the ::before absolute and positions it over the element*/
            border: .2rem solid black;
            transform-origin: bottom;
            transform: rotateX(-90deg);
            transition: all .3s;
            opacity: 0;
            
        }
        &:hover::before{
            transform: rotateX(0deg);
            opacity: 1;
        }
        
    }
    
    
    
    /*Pulse button*/
    &--pulse{
        border-radius: 5rem;
        border: .2rem solid black;

        &:hover{
            animation-name: pulse; 
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
           
        }
    }
    
    /*Sudden brake button*/
    
    
    
    &--sudden-brake{
        white-space: nowrap;

  
        &::before{
            border: .2rem solid black;
            @include pseudo-element;/*Makes the ::before absolute and positions it over the element*/
            transform: translateX(-150%) skewX(35deg);
            opacity: 0;
            display: none; /*To remove the ::before element so as to prevent unwanted triggering of the animation*/
        }
        &:hover::before{
            display: block; /*To bring the element back*/
            animation-name: slide;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
          
        }
       
    }
    
    /*3D button*/
    
    
    
    &--3d-button{
        border: .2rem solid black;
    
    }
    
    &__3d-container{
        position: relative;
        list-style: none;
        display: flex;
        justify-content: center;
        perspective: 1000px;
        z-index: -1;
           
    }
    &__3d-text{
        opacity:0;
        transform: translateZ(500px);
        transition: 0.2s;
        
        &:nth-child(1){
            transition-delay:0.1s;    
        }
        &:nth-child(2){
            transition-delay:0.2s;    
        }
        &:nth-child(3){
            transition-delay:0.3s;    
        }
        &:nth-child(4){
            transition-delay:0.4s;    
        }
        &:nth-child(5){
            transition-delay:0.5s;    
        }
        &:nth-child(6){
            transition-delay:0.6s;    
        }
        &:nth-child(7){
            transition-delay:0.7s;    
        }
        &:nth-child(8){
            transition-delay:0.8s;    
        }
    
    }
    &--3d-button:hover &__3d-text{
            opacity:1;
            transform: translateZ(0);
    }
    
    
        
    /*Flip button*/
        
        
    &--flip{
            
         
        &::before{
            @include pseudo-element;
            border:.2rem solid black;
            border-radius:5rem;
            
        }
        
        &:hover{
            transform:rotateY(180deg) ;
        }
        &:active{
            transform:rotateY(180deg) scale(.98);
        }
       
    }
    
        
    
}