.button{
    font-size: 2.4rem;
    margin-bottom: 5rem;
    padding: 2rem;
    font-weight: 800;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    
    &:active{
            transform: scale(.98);
        }
        &:active::before{
    
            transform: scale(.7);
            
        }
    &--frame-me{
        border: none;
        position: relative;
        z-index: 1;
        perspective: 20rem;
        &::before{
            @include before-element;/*Makes the ::before absolute and positions it over the element*/
            border: .2rem solid black;
            z-index: 5;
            transform-origin: bottom;
            transform: rotateX(-90deg);
            transition: all .3s;
            opacity: 0;
        }
        &:hover::before{
            transform: rotateX(0deg);
            opacity: 1;
        }
        
    }
    
    &--pulse{
        border-radius: 5rem;
        border: .2rem solid black;
        position: relative;
        z-index: 1;
        &:hover{
            animation-name: pulse; 
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

        }
    }
    &--sudden-brake{
        white-space: nowrap;
        position: relative;
        z-index: 1;
        border: none;
        &::before{
            border: .2rem solid black;
            @include before-element;/*Makes the ::before absolute and positions it over the element*/
            z-index: -1;
            transform: translateX(-150%) skewX(35deg);
            opacity: 0;
        }
        &:hover::before{
            animation-name: slide;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            
        }
       
    }
    &--3d-button{
        border: .2rem solid black;
    
    }
    
    &__3d-container{
        position: relative;
        list-style: none;
        display: flex;
        justify-content: center;
        perspective: 500px;
    }
    &__3d-text{
        transform: translateZ(500px);
        transition: 0.2s;
        opacity:0;
    
    }
    &--3d-button:hover &__3d-text{
            
            transform: translateZ(0);
            opacity:1;
    }
    &__3d-text:nth-child(1){
            transition-delay:0.1s;    
    }
    &__3d-text:nth-child(2){
            transition-delay:0.2s;    
    }
    &__3d-text:nth-child(3){
            transition-delay:0.3s;    
    }
    &__3d-text:nth-child(4){
            transition-delay:0.4s;    
    }
    &__3d-text:nth-child(5){
            transition-delay:0.5s;    
    }
    &__3d-text:nth-child(6){
            transition-delay:0.6s;    
    }
    &__3d-text:nth-child(7){
            transition-delay:0.7s;    
    }
    &__3d-text:nth-child(8){
            transition-delay:0.8s;    
    }
    
}