.button{
    font-size: 2.4rem;
    margin-bottom: 5rem;
    padding: 2rem;
    font-weight: 800;
    cursor: pointer;
    outline: none;
        background-color: transparent;
    &--frame-me{
        border: none;
        position: relative;
        z-index: 1;
        perspective: 20rem;
        &::before{
            @include before-element;
            border: .2rem solid black;
            z-index: 5;
            transform-origin: bottom;
            transform: rotateX(-90deg);
            transition: all .3s;
            opacity: 0;
        }
        &:hover::before{
            transform: rotateX(0deg);
            opacity: 1;
        }
        &:active{
            transform: scale(.98);
        }
        &:active::before{
    
            transform: scale(.9);
            
        }
    }
    
    &--pulse{
        border-radius: 5rem;
        border: .2rem solid black;
        position: relative;
        z-index: 1;
        &:hover{
            animation-name: pulse; 
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;

        }
    }
    &--sudden-brake{
        white-space: nowrap;
        position: relative;
        z-index: 1;
        border: none;
        &::before{
            border: .2rem solid black;
            @include before-element;
            background-color: aqua;
            z-index: -1;
            transform: translateX(-150%) skewX(35deg);
        }
        &:hover::before{
            animation-name: slide;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            
        }
        @keyframes slide{
            0%{
                transform: translateX(-150%) skewX(35deg);
            }
            80%{
                transform: translateX(20%) skewX(-30deg);
            }
            100%{
                transform: translateX(0%) skewX(0deg);
            }
        }
    }
    
}